.metrics-table {
    border-collapse: collapse;
    margin: 20px auto;
}

.metrics-table td, .metrics-table th {
    padding: 4px;
    border: 1px solid #CCC;
}

div.chart {
    width: 55%;
    margin: 30px auto 0px;
}

#heart {
    text-align: center;
}

h3 {
    margin: 30px auto;
}

.noRecords {
    margin: 10px auto
}

label {
    margin: 10px;
}

.button {
background-color: lightseagreen;
}