.metrics-table {
    border-collapse: collapse;
}

.metrics-table td, .metrics-table th {
    padding: 4px;
    border: 1px solid #CCC;
}

#heart {
    text-align: center;
}

h3 {
    margin: 10px auto 20px;
}

label {
    margin: 10px;
}

commandButton {
color: aquamarine;
}